<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.omsu.imit.helloworld">
    <uses-sdk android:targetSdkVersion="30" />

    <application android:label="TestApp">
        <activity android:name="ru.omsu.imit.helloworld.HelloWorld">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>